body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: 0;
}
#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#boutons {
    display: flex;
    gap: 15px;
}
input[type="button"] {
    font-size: 30px;
    padding: 10px 20px;
}
