body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;

}

#h1,
#center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; //pour viewport heigth;
    color: slategray; //pour viewport heigth;
}